.current-day {
  display: flex;
  align-items: flex-start;
  margin-left: 60px;
  position: relative;
  border-bottom: 1px solid #ccc;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 18px;
    width: 1px;
    background-color: #ccc;
  }

  & > div {
    display: flex;
    padding: 0 0 5px 10px;
    align-items: center;
    position: relative;
    flex-direction: column;
    &::before {
      content: "";
      position: absolute;
      left: -10px;
      bottom: -1px;
      width: 10px;
      height: 1px;
      background-color: #ccc;
    }
  }

  .dayNum {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 35px;
    height: 35px;
    color: white;
    border-radius: 50%;
    background-color: var(--color-primary);
  }
  .dayName {
    font-size: 12px;
    color: var(--color-primary);
  }
}

.parent {
  flex: 1;
  position: relative;

  .now {
    height: 2px;
    left: 60px;
    right: 0;
    background-color: var(--color-accent);
    position: absolute;
    &::before {
      content: '';
      width: 10px;
      height: 10px;
      background-color: var(--color-accent);
      display: block;
      border-radius: 50%;
      transform: translate(-5px, -4px);
      position: relative;
      z-index: 1;
    }
  }

  .graph {
    display: flex;

    .hours,
    .rows {
      display: flex;
      flex-direction: column;
      & > div {
        &:not(:first-child) {
          position: relative;
          &::before {
            content: '';
            top: 0;
            left: 0;
            right: 0;
            height: 1px;
            position: absolute;
            background-color: #ccc;
          }
        }
      }
    }
    .hours {
      width: 60px;
      border-right: 1px solid #ccc;
      & > div {
        display: flex;
        &:not(:first-child) {
          &::before {
            content: '';
            left: unset;
            width: 9px;
          }
        }
        .title {
          font-size: 10px;
          position: absolute;
          top: -10px;
          right: 11px;
          left: 0;
          padding-right: 4px;
          text-align: right;
          background-color: white;
        }
      }
    }
    .rows {
      flex: 1;
      & > div {
        &:hover {
          background-color: rgba(95, 95, 95, 0.068);
          .title {
            color: var(--color-primary);
          }
        }
      }
    }
  }
}

.appointment {
  color: white;
  flex: 1;
  left: 60px;
  right: 0;
  z-index: 1;
  padding: 0 10px;
  position: absolute;
  border-radius: 4px;
  overflow: hidden;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: var(--color-primary);
  &.small {
    font-size: 11px;
    line-height: 13px;
  }

  .appoint-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .appoint-action {

      .appoint-edit{
        margin-left: 5px;
        margin-right: 5px;
      }
      .appoint-delete{
        margin-left: 5px;
        margin-right: 5px;
      }

      .mat-icon{
      font-size:20px !important; //make it bigger, the default being 24px. 
      width:20px;                //Do not forget to adjust the 
      height:20px;               //height and/or the width, as in the demo
  }
    }

    
  }

  // button {
  //   border: none;
  //   width: 30px !important;
  //   height: 24px !important;
  //   padding: 0px !important;
  //   display: inline-flex !important;
  //   align-items: center;
  //   justify-content: center;

  //   & > mat-icon {
  //     font-size: 15px !important;
  //   }
  // }
  
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.appointments.cdk-drop-list-dragging .appointment:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

section {
  display: table;
}