.time {
  gap: 5px;
  display: flex;
  align-items: center;
}

.errMsg {
  color: red;
  margin-top: -15px;
}

.mt-4 {
  padding-top: 10px;
}

.w-100 {
  width: 100% !important;
}

.w-48 {
  width: 48% !important;
}

.pdr-19 {
  padding-right: 19px;
}
